
	html{
		height: 100%;
	}

	body {
		font: 400 15px/1.8 Roboto, sans-serif;
		color: #777;
		height:100%;
		margin: 0;
	}

	canvas{ display: block; vertical-align: bottom; } 

	/* ---- particles.js container ---- */ 
	#particles-js{ 
		width: 100%;
		height: 100vh; 
		background-color: black; 
		background-image: url(""); 
		background-repeat: no-repeat; 
		background-size: cover;
		background-position: 50% 50%; } 

	#members_here .fa {
		color: #404040;
		font-size: 20px;
		width: 20px;
		text-decoration: none;
		border-radius: 50%;
		transition: .4s;
		transform: translate(0px,-30px);
	}

	#members_here .fa-facebook-official:hover {
		font-size: 21px;
		color: #4267b2;
	}

	#members_here .fa-linkedin-square:hover {
		font-size: 21px;
		color: #4875B4;
	}

	h1{
		font-family: montserrat;
		color: #111;
	}

	h3{
		font-family: lato;
		color: #111;
		letter-spacing: 1px;
		line-height: 35px;
	}

	#logo{
		-ms-transform: translate(0px, -5px); /* IE 9 */
		-webkit-transform: translate(0px, -5px); /* Safari */
		transform: translate(0px, -5px);
	}

	#foot{
		color: white;
		font-size: 20px;
	}

	#foot:hover{
		color: #4267b2;
	}

	#about-us-logo{
		-ms-transform: translate(-10px, -5px); /* IE 9 */
		-webkit-transform: translate(-10px, -5px); /* Safari */
		transform: translate(-10px, -5px);
	}

	#events{
		background: url("img/event.jpg") fixed ;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.profile {
		font-size: 25px;
		transition: .3s;
	}

	.profile:hover{
		background-color: blue;
	}

	.btn {
		padding: 10px 20px;
		background-color: #333;
		color: #f1f1f1;
		border-radius: 4px;
		transition: .4s;
	}

	.btn:hover, .btn:focus {
		border: 1px solid #333;
		background-color: #fff;
		color: #000;
	}

	.navbar{
		opacity: 0;
		background-color: transparent;
		border: none;
		font-family: montserrat;
		border-radius: 0;
		/*opacity: 1;*/
	}

	.solid {
		opacity: 1;
  		background-color: black;
  		transition: background-color 1s ease 0s;
  		transition: opacity 1s ease 0s;
  		box-shadow: 0 0 5px grey;
	}

	.navbar li a{
		color: #d5d5d5 !important;
	}

	.navbar-nav li a:hover {
		color: white !important;
	}

	.navbar-nav li.active a {
		color: #fff !important;
		background-color: #29292c !important;
	}

	.person{
		border: 10px solid transparent;
		transition: .6s;
		overflow: hidden;
	}

	.person:hover{
		/*border-color: #e4e4fe;*/
		-webkit-transform: scale(1.08);
  		transform: scale(1.08);
		
	}

	.logo-small {
		color: #fff0ff !important;
		font-size: 60px;
	}

	hr{
		border: 1px solid black;
		width: 10%
	}

	.centered{
		position: absolute;
		top: 30%;
		-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
		animation-name: example;
		animation-duration: 5s;
		/*transform: translate(-50%, -50%);*/
	}

	@-webkit-keyframes example {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	/* Standard syntax */
	@keyframes example {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	.slideanim {visibility:hidden;}

	.slide {
		animation-name: slide;
		-webkit-animation-name: slide;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		visibility: visible;
	}
	@keyframes slide {
		0% {
			opacity: 0;
			transform: translateY(70%);
		}
		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	@-webkit-keyframes slide {
		0% {
			opacity: 0;
			-webkit-transform: translateY(70%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0%);
		}
	}

	#gallery{
		text-align: center;
		/*background-color: #ffba8c;*/
	}

	.carousel-control.left, .carousel-control.right {
		background-image:none;
	}

	.img-responsive{
		width:100%;
		height:auto;
	}

	.footer {

		/*position: relative;*/
		/*height: 2%;*/
		width: 100%;
		background-color: #101010;
		color: white;
		text-align: left;
		padding-left: 30px;
		padding-top: 10px;
	}
	.nospace {
   font-size: 0;
	}
	.bg-dark {
    background-color: #444;
    color: #fff;
	}
	aside {
    padding: 30px 0;
	}


/*body
 {
    margin: 0;
    overflow: hidden;
    height: 100%;
}*/

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}
